<!DOCTYPE html>
<html lang="en" ng-app="orcApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tesseract.js@4.0.2/dist/tesseract.min.js"></script>
      <script src="app.js"></script>
    <style src="styles.css"></style>
  </head>
<body ng-controller="OcrController">

  <div class="container">
    <h1>Розпізнавання тексту з зображення</h1>

    <input type="file" accept="image/png, image/jpeg" onchange="angular.element(this).scope().previewImage(event)">
    <img ng-src="{{imageSrc}}" ng-if="imageSrc" alt="Завантажене зображення">
    
    <button ng-click="extractText()" ng-disabled="!uploadedFile">Розпізнати текст</button>
    <button ng-click="copyText()" ng-disabled="!recognizedText">Копіювати текст</button>

    <pre ng-if="!recognizedText">=</pre>
    <pre ng-if="recognizedText">{{recognizedText}}</pre>
 <div ng-include="extractText()"></div>
  </div>

</body>
</html>